# Core
numpy==1.26.4
pandas==2.3.3

# Audio processing
pydub==0.25.1
librosa==0.11.0
soundfile==0.13.1
scipy==1.15.3

# Speech parameters
praat-parselmouth==0.4.7

# DL/TORCH
torch==2.10.0

# Visualisation
matplotlib==3.10.8
seaborn==0.13.2

# ML tools
scikit-learn==1.7.2