# Core
numpy==1.26.4
pandas==2.3.3

# Progress
tqdm

# Audio processing
pydub==0.25.1
librosa==0.11.0
soundfile==0.13.1
praat-parselmouth==0.4.7

# DL / LLM
bitsandbytes==0.49.2
accelerate==1.13.0
openai==2.32.0

# Дополнительно для удобной работы с переменными окружения
python-dotenv==1.0.0